*{
    margin: 0;
    padding: 0;
}

html,body {
    font-size: 18px;
    background-color: #f0f0f0;
}

h1{
    max-width: 940px;
    font-size: 2.5em;
    font-family: Lato, sans-serif;
    font-weight: 700;
    line-height: 1.1;
    margin: 20px 0px 40px 0px;
    text-shadow: 1px 1px 3px rgb(3, 3, 3);
}

.app{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.contenedor-principal{
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
